# Binaries
*.exe
*.exe~
*.dll
*.so
*.dylib
*.test
*.out

# Build directories
bin/
build/

# Go dependency cache
vendor/

# OS-specific files
.DS_Store
Thumbs.db

# IDE/Editor files
.idea/
.vscode/
*.swp

# Environment variable files
.env